/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2017, 12:16:54 AM
    Author     : melaniewoe
*/

/*
home page
*/
.top-space{
	margin-top:30px;
    padding-left: 10px;
}
.column-box{
	float:left;
    width:100%;
}
.column-box.profile-box{width:23.999%}
.column-box.status-box{width:58.33333%}
.column-box.status-box1{width:99.99999%}
.column-box.whotofollow{width:16.66666%}
.box{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16);
    border-radius:4px;
    color: black;
    background-color:white;}
.container{after;before;padding:0.01em 18px}
.container-status{after;before;padding:0 8px}
li{
    width:10%;
    list-style-type:none;
    display:inline-block;
    a{
      font-size:14px;
      color:#AAA;
      text-decoration:none;
     }
      span{
      color:#000;
      font-size:28px;
      display:block;
    }
  }
.post-status{padding:8px 16px;border:1px solid}

